<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0">

		<meta name="author" itemprop="author" content="{{site.author}}">
		<meta name="keywords" itemprop="keywords" content="{{site.keywords}}">
		<meta name="description" itemprop="description" content="{{site.author}} {{site.description}}">

		<!-- favicon -->

		<title>{{ site.title }}</title>

		<link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url }}">
		<!-- with regular
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
		-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
