<section class="w-100">
  <div class="swiper-container vh-100 bg-light-gray w-100">
  <div class="swiper-wrapper">
    {% for photo in season.slideshow %}
    {% assign sized-img = photo.image | replace: 'uploads', 'resize' | remove: '.jpg' %}
    <!-- https://github.com/bfred-it/object-fit-images -->
      <img
      srcset="{{ site.imgurl }}/c_limit,h_300,w_200/{{ site.tempurl }}{{ photo.image }} 200w,
              {{ site.imgurl }}/c_limit,h_1000,w_800/{{ site.tempurl }}{{ photo.image }} 800w,
              {{ site.imgurl }}/c_limit,h_2000,w_1500/{{ site.tempurl }}{{ photo.image }} 1500w,
              {{ site.imgurl }}/c_limit,h_3500,w_2500/{{ site.tempurl }}{{ photo.image }} 2500w,
              {{ site.imgurl }}/c_limit,h_5500,w_4000/{{ site.tempurl }}{{ photo.image }} 4000w"
      src="{{ photo.image }}"
      onerror="this.onerror=null;this.srcset='{{ photo.image }}';"
      class="swiper-slide w-100 h-100"
      style=" object-fit: cover; object-position: {{ photo.horizontal }} {{ photo.vertical }}; font-family: 'object-fit: cover; object-position: {{ photo.horizontal }} {{ photo.vertical }};'"
      alt="{{ photo.title }}">
      </img>
    {% endfor %}
  </div>
</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js"></script>
<script src="https://unpkg.com/object-fit-images@3.0.1/dist/ofi.min.js"></script>
<script>
var swiper = new Swiper('.swiper-container', {
  pagination: '.swiper-pagination',
  paginationClickable: true,
  loop: true,
  autoplay: {{site.slider-rate}},
  speed: {{site.slider-animation-speed}},
  autoplayDisableOnInteraction: true,
  grabCursor: true
  });

objectFitImages();
</script>
