<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body class="bg-black pb5">

  <div class="">
    <div class="mw-60 center">
    {% include header.html %}

    <div class="h0">
    {% for number in site.project-order %}
      {% for post in site.posts %}
        {% if post.order-id == {{number}} %}
          <div class="inlineblock w-grid mr3 mb3">
            <a href="{{ post.url }}" class="relative block mt025">
                <img src="{{ post.cover-image }}" class="w-100 dim bg-white block" />
                <div class="overlay bg-white-7">
                    <h1 class="h1 fw-700 sans-serif black tc relative vc">+ See More</h1>
                </div>
            </a>
            <div class="pt05">
              <a href="{{ post.url }}" class="link dim h4 white fw-700 sans-serif left">{{ post.title }}</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </div>
  </div>
  <div class="ajax fade">
    <div class="bg-black fixed overflow-scroll mh-100 w-100 t-0">
      {{ content }}
    </div>
  </div>
</div>

</body>

</html>
