<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body class="bg-black pb5">
  <div class="">
    {% include header.html %}
    <a href="/" class="fixed t-2 r-2 z-2 link dim none block-m closebtn indexbtn">
      <img src="/assets/icn/single.svg" />
    </a>
    <div id="index-container" class="mw-40 mw-60-m center pl05 pr05 transition-05">

      <div class="h0">
        <div class="flex flex-row flex-wrap">
          {% for number in site.project-order %}
            {% for post in site.posts %}
              {% if post.order-id == number %}
                <div class="w-grid-m mr1 ml1 flex-grow pb3">
                  <div class="w-15-m center">
                  <a href="{{ post.url }}" class="relative block mt025 projectbtn">
                      <img src="{{ post.cover-image }}" class="w-100 dim bg-white block" />
                      <div class="overlay h4 bg-white-95 tc">
                        <div class="relative vc pa2">
                          <h1 class="h2 black mb1">{{ post.title }}</h1>
                          <h2 class="h4 black sans-serif lh-13 fw-600 smaller">{{ post.small-text }}</h2>
                        </div>
                      </div>
                  </a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="ajax">
    <div id="ajax" class="bg-black fixed overflow-scroll mh-100 t-0 l-0 w-100 border-box">
      {{ content }}
    </div>
  </div>
</div>

</body>

</html>
