<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body class="bg-black pb5">
  <div>
  <div class="indexswap">
    {% include header.html %}
    <a href="/" class="fixed t-2 r-2 z-2 link dim none block-m closebtn indexbtn">
      <img src="/assets/icn/single.svg" />
    </a>
    <div id="index-container" class="mw-40 mw-60-m center pl05 pr05 transition-05">

      <div class="h0">
        <div class="flex flex-row flex-wrap">
          {% for number in site.project-order %}
            {% for post in site.posts %}
              {% if post.order-id == {{number}} %}
                <div class="w-grid-m mr1 ml1 flex-grow pb3">
                  <div class="w-15-m center">
                  <a href="{{ post.url }}" class="relative block mt025 projectbtn">
                      <img src="{{ post.cover-image }}" class="w-100 dim bg-white block" />
                      <div class="overlay bg-white-7">
                          <h1 class="h1 fw-700 sans-serif black tc relative vc">+ See More</h1>
                      </div>
                  </a>
                  <div class="pt05">
                    <a href="{{ post.url }}" class="link dim h4 white fw-700 sans-serif left projectbtn">{{ post.title }}</a>
                  </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="ajax">
    <div id="ajax" class="bg-black fixed overflow-scroll mh-100 t-0 l-0 w-100 border-box">
      {{ content }}
    </div>
  </div>
</div>
</div>

</body>

</html>
