---
layout: default
---

<div id="ajax-container" class="mw-40 mw-50-l center pb5 pl05 pr05">

 {% include header.html %}

<div class="content-slide">

  <div class="border-top">
    <div class="pt05 flex w-100">
      <div class="flex-grow">
        <div class="pb025 h3 cf">
          <div class="smaller white fw-600 sans-serif left">{{ page.title }}</div>
        </div>
        {% capture description %}{{ page.description }}{% endcapture %}
        <div class="description">
          <div class="markdown ws-prewrap">{{ description | markdownify }}</div>
        </div>
      </div>

      <a href="/" class="bump white serif link dim closebtn">
        <img class="" src="/assets/icn/x1.svg" />
      </a>

    </div>

  </div>
  <div class="markdown">
      {{ content }}
  </div>

  {% for number in site.project-order %}
    {% if number == page.order-id %}

      <!-- first project -->
      {% if forloop.first %}
        <div class="tc mt2">
          {% assign last-post = site.project-order.last %}
          {% assign prev = site.posts | where:"order-id",last-post %}
          {% for post in prev %}
            <a class="white serif link dim h4 inline-block prevbtn" href="{{ post.url }}">
              <span class="dn dib-s">Previous Project</span> <img class="mirror h-05 ml025" src="/assets/icn/arrow2.svg" />
            </a>
          {% endfor %}
          <a href="/" class="white serif link dim ma1 h4 closebtn">
            <img class="" src="/assets/icn/x1.svg" /> <span class="dn dib-s">Close</span>
          </a>
          {% assign index-next = forloop.index0 | plus:1 %}
          {% assign next = site.posts | where:"order-id",site.project-order[index-next] %}
          {% for post in next %}
            <a class="white serif link dim h4 nextbtn" href="{{ post.url }}">
              <img class="mr05 h-025" src="/assets/icn/arrow2.svg" /> <span class="dn dib-s">Next Project</span>
            </a>
          {% endfor %}
          </div>

      <!-- last project -->
      {% elsif forloop.last %}
        <div class="tc mt2">
          {% assign index-previous = forloop.index0 | minus:1 %}
          {% assign prev = site.posts | where:"order-id",site.project-order[index-previous] %}
          {% for post in prev %}
            <a class="white serif link dim h4 prevbtn" href="{{ post.url }}">
              <span class="dn dib-s">Previous Project</span> <img class="mirror h-05 ml025" src="/assets/icn/arrow2.svg" />
            </a>
          {% endfor %}
          <a href="/" class="white serif link dim ma1 h4 closebtn">
            <img class="" src="/assets/icn/x1.svg" /> <span class="dn dib-s">Close</span>
          </a>
          {% assign first-post = site.project-order.first %}
          {% assign next = site.posts | where:"order-id", first-post %}
          {% for post in next %}
            <a class="white serif link dim h4 nextbtn" href="{{ post.url }}">
              <img class="mr05 h-025" src="/assets/icn/arrow2.svg" /> <span class="dn dib-s">Next Project</span>
            </a>
          {% endfor %}
        </div>

      <!-- middle projects -->
      {% else %}
        <div class="mt2">
          <div class="tc center">
          {% assign index-previous = forloop.index0 | minus:1 %}
          {% assign prev = site.posts | where:"order-id",site.project-order[index-previous] %}
          {% for post in prev %}
            <a class="white serif link dim h4 inline-block prevbtn" href="{{ post.url }}">
              <span class="dn dib-s">Previous Project</span> <img class="mirror h-05 ml025" src="/assets/icn/arrow2.svg" />
            </a>
          {% endfor %}
          <a href="/" class="white serif link dim ml2 mr2 h4 inline-block closebtn">
            <img class="" src="/assets/icn/x1.svg" /> <span class="dn dib-s">Close</span>
          </a>
          {% assign index-next = forloop.index0 | plus:1 %}
          {% assign next = site.posts | where:"order-id",site.project-order[index-next] %}
          {% for post in next %}
            <a class="white serif link dim h4 inline-block nextbtn" href="{{ post.url }}">
              <img class="mr025 h-05" src="/assets/icn/arrow2.svg" /> <span class="dn dib-s">Next Project</span>
            </a>
          {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}

{% endfor %}

</div>
</div>
